<div>
  <form nz-form [formGroup]="searchForm" [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="account">筛选时间</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker [(ngModel)]="date" formControlName="date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="loadData()">搜索</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-card [nzTitle]="list" [nzSize]="'small'">
    <nz-table #colSpanTable [nzData]="listOfData" nzBordered [nzLoading]="loading">
      <thead>
        <tr>
          <th>监测对象</th>
          <th>监测频次</th>
          <th>应检人次</th>
          <th>当日实检</th>
          <th>当周实检</th>
          <th>当月实检</th>
          <th>数据来源</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of colSpanTable.data; index as i">
          <td>{{ data.jcdx }}</td>
          <td>{{ data.jcpc }}</td>
          <td>{{ data.yjrc }}</td>
          <td>{{ data.drsj }}</td>
          <td>{{ data.dzsj }}</td>
          <td>{{ data.dysj }}</td>
          <td>{{ data.sjly }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <ng-template #list>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div>{{ dateFormart() }}-结果展示</div>
      <div>
        <!-- <button nz-button nzType="primary"><i nz-icon nzType="folder" nzTheme="outline"></i>新增</button> -->
        <button nz-button nzType="primary" (click)="loadData()"><i nz-icon nzType="fire" nzTheme="outline"></i>刷新</button>
        <button nz-button nzType="primary" (click)="checkUsers()">
          <i nz-icon nzType="contacts" nzTheme="outline"></i>查看全部人员
        </button>
      </div>
    </div>
  </ng-template>
</div>
