<nz-descriptions nzTitle="个人中心">
  <nz-descriptions-item nzTitle="真实姓名">{{ user?.userName }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="性别">{{ user?.sex }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="电话">{{ user?.phone }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="账号">{{ user?.account }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="密码">******</nz-descriptions-item>
  <nz-descriptions-item nzTitle="角色"> {{ user?.roleVo?.roleName }} </nz-descriptions-item>
</nz-descriptions>

<button nz-button nzType="primary" (click)="edit()">修改</button>
<nz-modal
  nzWidth="70%"
  [nzMaskClosable]="false"
  [(nzVisible)]="userVisible"
  nzTitle="用户信息"
  (nzOnCancel)="userVisible = !userVisible"
  (nzOnOk)="addHandle()"
>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName">真实姓名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="userName" id="userName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone">电话号码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="phone" id="phone" [maxlength]="11" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sex">性别</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="sex" id="sex">
          <nz-option nzLabel="男" nzValue="男"></nz-option>
          <nz-option nzLabel="女" nzValue="女"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="password" id="password" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
